* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


.list-movie-horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    width: 2px;
  }
  
  
  ::-webkit-scrollbar-track {    
    background: #525151; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #474747; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }